<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.15.7/lib/index.js"></script>
<head>
    <meta charset="utf-8"> 
</head>
<div id="app">
<template>
    <el-row>
        <el-button type="warning" round v-on:click="清空猜测列表()">清空</el-button>
    </el-row>
    <el-row v-for="猜测条件 in 猜测列表">
        名称
        <el-select v-model="猜测条件.name" clearable filterable placeholder="干员" @change="开始猜测()">
            <el-option
              v-for="干员 in 干员列表"
              :key="干员.name"
              :label="干员.name"
              :value="干员.name">
            </el-option>
        </el-select>
        稀有度
        <el-select v-model="猜测条件.rarity" clearable placeholder="rarity" @change="开始猜测()">
            <el-option value="向上">向上</el-option>
            <el-option value="一致">一致</el-option>
            <el-option value="向下">向下</el-option>
        </el-select>
        阵营
        <el-select v-model="猜测条件.team" clearable placeholder="team" @change="开始猜测()">
            <el-option value="一致">一致</el-option>
            <el-option value="部分一致">部分一致</el-option>
            <el-option value="不同">不同</el-option>
        </el-select>
        职业
        <el-select v-model="猜测条件.className" clearable placeholder="className" @change="开始猜测()">
            <el-option value="一致">一致</el-option>
            <el-option value="部分一致">部分一致</el-option>
            <el-option value="不同">不同</el-option>
        </el-select>
        种族
        <el-select v-model="猜测条件.race" clearable placeholder="race" @change="开始猜测()">
            <el-option value="一致">一致</el-option>
            <el-option value="部分一致">部分一致</el-option>
            <el-option value="不同">不同</el-option>
        </el-select>
        画师
        <el-select v-model="猜测条件.painter" clearable placeholder="painter" @change="开始猜测()">
            <el-option value="一致">一致</el-option>
            <el-option value="不同">不同</el-option>
        </el-select>
    </el-row>
    <el-row>
        {{ 输出信息.信息1 }}
    </el-row>
    <el-row>
        {{ 输出信息.信息2 }}
    </el-row>
    <el-row>
        {{ 输出信息.信息3 }}
    </el-row>
    <el-row>
        made by suulnnka
    </el-row>
</template>
</div>
<style>
    @import url("https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css");
    .el-select {width: 130px;}
</style>
<script>

let 干员列表 = [
]

    // 总之加载一下数据文件，设为干员列表
    fetch('https://raw.githubusercontent.com/lie5860/ak-guess/main/src/data/dealData/dealData_zh_CN.json')
    .then(response => response.json())
    .then(data => {
      干员列表 = data;
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
    })
    .catch(error => {
      console.error('Error reading JSON file: ', error);
    });

let 猜测列表 = [
    {name:'',rarity:'',team:'',className:'',race:'',painter:''},
    {name:'',rarity:'',team:'',className:'',race:'',painter:''},
    {name:'',rarity:'',team:'',className:'',race:'',painter:''},
    {name:'',rarity:'',team:'',className:'',race:'',painter:''},
    {name:'',rarity:'',team:'',className:'',race:'',painter:''},
    {name:'',rarity:'',team:'',className:'',race:'',painter:''},
    {name:'',rarity:'',team:'',className:'',race:'',painter:''},
    {name:'',rarity:'',team:'',className:'',race:'',painter:''},
]

let 输出信息 = {信息1: '',信息2: '',信息3: ''}

function 排除嫌疑人(嫌疑人清单,猜测条件){
    let 数据完整标志 = true
    let 空项数 = 0
    for(let 项名 in 猜测条件){
        if(猜测条件[项名] == ''){
            数据完整标志 = false
            空项数 = 空项数 + 1
        }
    }
    if(数据完整标志 == false){
        if(空项数 == 6) return
        return false
    }

    let 干员
    for(let 临时干员 of 干员列表){
        if(临时干员.name == 猜测条件.name){
            干员 = 临时干员
        }
    }
    if(!干员){
        嫌疑人清单.splice(0)
        return
    }

    if(猜测条件.rarity == "向上"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.rarity <= 干员.rarity){
                嫌疑人清单.splice(编号,1)
            }
        }
    }
    if(猜测条件.rarity == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.rarity != 干员.rarity){
                嫌疑人清单.splice(编号,1)
            }
        }
    }
    if(猜测条件.rarity == "向下"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.rarity >= 干员.rarity){
                嫌疑人清单.splice(编号,1)
            }
        }
    }


    if(猜测条件.team == "不同"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let team相同数 = 0
            for(let 干员team of 干员.team)
            for(let 临时干员team of 临时干员.team){
                if(干员team == 临时干员team){
                    team相同数 = team相同数 + 1
                }
            }

            if(team相同数 > 0){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.team == "部分一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let team相同数 = 0
            for(let 干员team of 干员.team)
            for(let 临时干员team of 临时干员.team){
                if(干员team == 临时干员team){
                    team相同数 = team相同数 + 1
                }
            }

            if(team相同数 == 0){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.team.length == 临时干员.team.length && 干员.team.length == team相同数){
                嫌疑人清单.splice(编号,1)
            }
        }
    }


    if(猜测条件.team == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let team相同数 = 0
            for(let 干员team of 干员.team)
            for(let 临时干员team of 临时干员.team){
                if(干员team == 临时干员team){
                    team相同数 = team相同数 + 1
                }
            }

            if(team相同数 == 0){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.team.length != 临时干员.team.length){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.team.length != team相同数){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.className == "不同"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.className[0]  == 干员.className[0] ){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.className == "部分一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.className[0] != 干员.className[0] ){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(临时干员.className[1]  == 干员.className[1]){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.className == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.className[0] != 干员.className[0] ){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(临时干员.className[1]  != 干员.className[1]){
                嫌疑人清单.splice(编号,1)
            }
        }
    }


    if(猜测条件.race == "不同"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let race相同数 = 0
            for(let 干员race of 干员.race)
            for(let 临时干员race of 临时干员.race){
                if(干员race == 临时干员race){
                    race相同数 = race相同数 + 1
                }
            }

            if(race相同数 > 0){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.race == "部分一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let race相同数 = 0
            for(let 干员race of 干员.race)
            for(let 临时干员race of 临时干员.race){
                if(干员race == 临时干员race){
                    race相同数 = race相同数 + 1
                }
            }

            if(race相同数 == 0){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.race.length == 临时干员.race.length && 干员.race.length == race相同数){
                嫌疑人清单.splice(编号,1)
            }
        }
    }


    if(猜测条件.race == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let race相同数 = 0
            for(let 干员race of 干员.race)
            for(let 临时干员race of 临时干员.race){
                if(干员race == 临时干员race){
                    race相同数 = race相同数 + 1
                }
            }

            if(race相同数 == 0){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.race.length != 临时干员.race.length){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.race.length != race相同数){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.painter == "不同"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.painter == 干员.painter){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.painter == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.painter != 干员.painter){
                嫌疑人清单.splice(编号,1)
            }
        }
    }
    
}

function 有嫌疑吗(嫌疑人,干员,rarity,team,className,race,painter){
    if(rarity=="向上" && 嫌疑人.rarity<=干员.rarity) return false
    if(rarity=="一致" && 嫌疑人.rarity!=干员.rarity) return false
    if(rarity=="向下" && 嫌疑人.rarity>=干员.rarity) return false

    let team相同数 = 0
    for(let 干员team of 干员.team)
    for(let 嫌疑人team of 嫌疑人.team){
        if(干员team == 嫌疑人team){
            team相同数 = team相同数 + 1
        }
    }

    if(team=="不同" && team相同数 > 0)  return false
    if(team=="部分一致"){
        if(team相同数==0) return false
        if(干员.team.length == 嫌疑人.team.length && 干员.team.length == team相同数) return false
    }
    if(team=="一致"){
        if(干员.team.length != 嫌疑人.team.length) return false
        if(干员.team.length != team相同数) return false
    }

    let race相同数 = 0
    for(let 干员race of 干员.race)
    for(let 嫌疑人race of 嫌疑人.race){
        if(干员race == 嫌疑人race){
            race相同数 = race相同数 + 1
        }
    }
    
    if(race=="不同" && race相同数 > 0)  return false
    if(race=="部分一致"){
        if(race相同数==0) return false
        if(干员.race.length == 嫌疑人.race.length && 干员.race.length == race相同数) return false
    }
    if(race=="一致"){
        if(干员.race.length != 嫌疑人.race.length) return false
        if(干员.race.length != race相同数) return false
    }

    if(className=="不同" && 干员.className == 嫌疑人.className) return false
    if(className=="部分一致"){
        if(干员.className != 嫌疑人.className) return false
        if(干员.子className == 嫌疑人.子className) return false
    } 
    if(className=="一致" && 干员.子className != 嫌疑人.子className) return false

    if(painter=="不同" && 干员.painter == 嫌疑人.painter) return false
    if(painter=="一致" && 干员.painter != 嫌疑人.painter) return false

    return true
}

function 查找嫌疑人数量(嫌疑人清单,干员,rarity,team,className,race,painter){
    let 嫌疑人数量 = 0
    for(let 嫌疑人 of 嫌疑人清单){
        if(有嫌疑吗(嫌疑人,干员,rarity,team,className,race,painter)){
            嫌疑人数量 = 嫌疑人数量 + 1
        }
    }
    return 嫌疑人数量
}

    var Main = {
    data() {
      return {
        干员列表,
        猜测列表,
        输出信息
      }
    },
    methods: {
        开始猜测: function(){
            let 嫌疑人清单 = []
            for(let 干员 of 干员列表){
                嫌疑人清单.push(干员)
            }

            for(let 猜测条件 of 猜测列表){
                if(排除嫌疑人(嫌疑人清单,猜测条件) === false){
                    return
                }
            }

            let 搜索列表 = 干员列表
            for(let 干员 of 搜索列表){
                let 信息熵 = 0
                for(let rarity of ["向上","一致","向下"])
                for(let team of ["不同","部分一致","一致"])
                for(let className of ["不同","部分一致","一致"])
                for(let race of ["不同","部分一致","一致"])
                for(let painter of ["不同","一致"]){
                    let 嫌疑人数量 = 查找嫌疑人数量(嫌疑人清单,干员,rarity,team,className,race,painter)
                    if(嫌疑人数量 != 0){
                        let 概率 = 嫌疑人数量 / 嫌疑人清单.length
                        信息熵 = 信息熵 - 概率 * Math.log2(概率)
                    }
                }
                干员.信息熵 = 信息熵
                干员.怀疑度 = 0
            }

            for(let 干员 of 嫌疑人清单){
                干员.怀疑度 = 1
            }

            搜索列表.sort(function(干员A,干员B){
                if(干员B.信息熵 == 干员A.信息熵){
                    return 干员B.怀疑度 - 干员A.怀疑度
                }
                return 干员B.信息熵 - 干员A.信息熵
            })
            嫌疑人清单.sort(function(干员A,干员B){
                return 干员B.信息熵 - 干员A.信息熵
            })

            输出信息.信息1 = "最佳推测列表:"+搜索列表.slice(0,3).map(x=>x.name).join(' ')
            输出信息.信息2 = "最大怀疑人:"+嫌疑人清单.slice(0,3).map(x=>x.name).join(' ')
            输出信息.信息3 = "嫌疑人数量:"+嫌疑人清单.length
        },
        清空猜测列表: function(){
            for(let 猜测条件 of 猜测列表){
                for(let 字段名 in 猜测条件){
                    猜测条件[字段名] = ''
                }
            }
            this.开始猜测()
        }
    },
    created() {
        this.开始猜测()
    }
  }
</script>